@import url("./05-components/table.css");
@import url("./05-components/buttons.css");
@import url("./05-components/card.css");
@import url("./05-components/modal.css");
@import url("./05-components/forms.css");
@import url("./06-pages/analysis/_01-base.css");
@import url("./06-pages/analysis/_02-shell.css");
@import url("./06-pages/analysis/_03-filters.css");
@import url("./06-pages/analysis/_04-dashboard-charts.css");
@import url("./06-pages/analysis/_05-table.css");
@import url("./06-pages/analysis/_06-utilities.css");
